body {
  /* Estilo para un contenedor con color y textura rugosa */

    background-color: #4a4a4a; /* Color de fondo */
    background-image: url('FONDO.JPG'); /* Ruta de la imagen de textura rugosa */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
    background-blend-mode: overlay; /* Mezcla el color de fondo con la textura */
    color: white; /* Color del texto, ajusta según sea necesario */
    padding: 20px; /* Añade espacio alrededor del contenido */
}


/* AQUI TENEMOS LOS ESTILOS DE TITULO */
.title{
    
    justify-content: center;
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 24px;
    overflow:hidden; /* Para ocultar las letras fuera del contenedor */
}

/* Animación de letras que aparecen una por una */
@keyframes aparecerLetras {
    from {
        opacity: 0;
        transform: translateY(50px); /* Mover las letras hacia arriba al principio */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Volver las letras a su posición original */
    }
}
.title span {
    display: inline-block; /* Para que cada letra ocupe su propio espacio */
    opacity: 0.2; /* Inicialmente, las letras están ocultas */
    animation: aparecerLetras 0.5s forwards; /* Aplicar la animación */
    animation-delay: calc(0.1s * var(--letra-index)); /* Retraso para cada letra */
}
/* ESTO PERTENECE AL MENU DE NAVEGACION */
.menu-icon {
    background: radial-gradient(circle, #eff1f2, #5b5f60, #18191a);

    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.line {
    width: 30px;
    height: 3px;
    background-color: #fbf9f9;
    margin: 6px 0;
}

.menu {
    display: none;
    background-color: #333;
    overflow: hidden;
}
@media only screen and (max-width: 600px) {
    .menu{
        display: flex;
    }
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    float: left;
}

.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

.menu.active {
    display: flex;
}

@media only screen and (max-width: 600px) {
    .menu {
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
    }

  
}
/* Estilos para el contenedor de tarjetas */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* Estilos para cada tarjeta */
/* Textura con una imagen */
.background-texture .tarjeta{
    background: url('card2.jpg') repeat;
}

/* Textura con un patrón */
.background-pattern {
    background: repeating-linear-gradient(45deg, #fff, #fff 10px, #eee 10px, #eee 20px);
}

.tarjeta {
    /* background: radial-gradient(circle, #eff1f2, #5b5f60, #18191a); */
    /* background: linear-gradient() rgb(254, 253, 253),rgb(219, 216, 216), rgb(222, 222, 227), rgb(1, 2, 14); */
   
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
    overflow: hidden; /* Para asegurar que el contenido no se desborde */
    position: relative; /* Para posicionar correctamente el contenido absoluto */
    /* background: linear-gradient(to right, #f0f0ef, #4e4b4b), url('card2.jpg') repeat; */
    background: linear-gradient(to right, #33ccff, #ff9900), repeating-linear-gradient(45deg, #fff, #fff 10px, #eee 10px, #eee 20px);
}


/* Animación de oscilación */
@keyframes oscilar {
    0%, 100% {
        transform: translateY(0);
    }
    70% {
        transform: translateY(-5px);
    }
}

/* Estilos para el texto dentro de la tarjeta */
.tarjeta h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    animation: oscilar 1s infinite; /* Aplicar la animación */
}

.tarjeta p {
    font-size: 1em;
    color: #555;
}

.tarjeta:hover {
    transform: scale(1.05);
}

.tarjeta h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    color:  rgb(2, 2, 2);
}

.tarjeta p {
    font-size: 20px;
    color: #555;
    display: flex;
    justify-content: center;
    color:  rgb(2, 2, 2);

}

/* Estilos para la imagen dentro de la tarjeta */
.tarjeta img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}
@media screen and (max-width: 768px) {
    .tarjeta {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .tarjeta {
        width: calc(100% - 20px);
    }
}



.logo {
    display: flex;
    justify-content: center;
}
.slick-slide .tarjeta {
    width: 80%;
    border: 3px solid #e32525;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #b72d2d;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
}

.slick-slide .tarjeta:hover {
    transform: scale(1.05);
}

.slick-slide .tarjeta h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.slick-slide .tarjeta p {
    font-size: 1em;
    color: #555;
}

/* Estilos para la imagen dentro de las tarjetas dentro del slider */
.slick-slide .tarjeta img {
    max-width: 60%;
    height: auto;
    border-radius: 4px;
}

h1{
    
  
     background: linear-gradient(to bottom right, rgb(255, 255, 255),  rgb(19, 6, 74), rgb(0, 3, 10)); 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    color: white; /* Color del texto */
    mix-blend-mode: difference;
}

